[inventory]
enable_plugins = amazon.aws.aws_ec2, azure.azcollection.azure_rm, google.cloud.gcp_compute, hetzner.hcloud.hcloud

[defaults]
host_key_checking = False
stdout_callback = default
result_format = yaml
inject_facts_as_vars = False

[privilege_escalation]
become = True
become_method = sudo
